.footer-moving {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #1f2937;
  color: white;
  padding: 1rem 0;
  z-index: 9998; /* di bawah navbar */
}


.moving-text {
  white-space: nowrap;
  padding-left: 100%;
  animation: moveText 20s linear infinite;
}

@keyframes moveText {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}
