:root {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
  --color-black: #000;
  --color-white: #fff;
  --color-red-500: #f53003;
  --color-gray-800: #374151;
  --color-gray-900: #1f2937;
  --spacing: 0.25rem;
}
